html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0;
  font-weight: 300;
  line-height: 1.2;
  min-height: 100vh;
}

p {
  font-weight: 300;
  font-size: calc(11px + 0.35vw);
  margin-bottom: 1.5rem;
}

b {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

b i {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: calc(25px + 2vw);
}

h2 {
  font-size: calc(25px + 2vw);
  margin-bottom: 4rem;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  min-height: 6vh;
  width: 100%;
  background: #fff;
  z-index: 10000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav .logo {
  padding-left: 5vw;
  height: 48px;
}

nav .logo img {
  max-width: 15vw;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav .logo .default {
  opacity: 1;
  height: 100%;
  width: auto;
}

nav .logo .white {
  opacity: 0;
  width: 0;
  height: 0;
}

nav .nav-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  padding: 0 5vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .nav-link {
  font-size: calc(10px + 0.3vw);
  padding: 1vw 2vw;
  text-decoration: none;
  font-weight: 400;
  color: #404040 !important;
}

nav.homepage {
  background: transparent;
}

nav.homepage .logo .default {
  opacity: 0;
  width: 0;
  height: 0;
}

nav.homepage .logo .white {
  opacity: 1;
  height: 100%;
  width: auto;
}

nav.homepage .nav-container {
  background: #fff;
  border-radius: 0 0 0 12px;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown .dropdown-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  position: relative;
  max-width: 1920px;
  margin: auto;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.overview p {
  width: 100%;
  font-size: calc(10px + 0.6vw);
  line-height: 1.5;
  overflow: hidden;
  line-height: 1.3;
  max-height: 6rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-bottom: 2.5rem;
}

section {
  position: relative;
  overflow-x: hidden;
}

.section-container {
  max-width: 1600px;
  padding: 5rem 6vw;
  margin: 0 auto;
  z-index: 3;
}

.grid {
  height: auto;
  margin: 3rem auto 4rem auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
}

.card {
  background: #fff;
  -webkit-box-shadow: -2px 22px 48px -33px #5f806d;
          box-shadow: -2px 22px 48px -33px #5f806d;
  padding: 2.5vw 2vw;
  z-index: 2;
}

.card p {
  margin-bottom: 0;
}

.card.simple .row {
  margin-bottom: 2vw;
}

.card.simple .row img {
  width: 15%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5%;
}

.card.simple h3 {
  font-size: calc(12px + 1vw);
  width: 80%;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 172px;
  padding: 20px 2rem;
  border-radius: 100px;
  font-size: calc(11px + 0.35vw);
  font-weight: 500;
  color: #184e2f;
  background: #fff;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: 0px 2px 20px rgba(3, 22, 11, 0.1);
          box-shadow: 0px 2px 20px rgba(3, 22, 11, 0.1);
}

.btn .outline {
  border: 2px solid #184e2f;
  background: transparent;
}

.btn .img-icon {
  width: 16px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  margin-left: 4px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: calc(48% - 32px);
  left: auto;
  top: auto;
  bottom: 4%;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.4);
}

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after {
  font-size: 18px;
  font-weight: 900;
  color: #133421;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: auto;
  left: 6vw;
  top: 8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  letter-spacing: -2px;
}

.swiper-pagination-fraction span,
.swiper-pagination-custom span,
.swiper-container-horizontal > .swiper-pagination-bullets span {
  opacity: 0.8;
  font-size: calc(12px + 1vw);
}

.swiper-pagination-fraction span.swiper-pagination-current,
.swiper-pagination-custom span.swiper-pagination-current,
.swiper-container-horizontal > .swiper-pagination-bullets span.swiper-pagination-current {
  font-size: calc(18px + 1.3vw) !important;
  font-weight: 500;
  opacity: 1;
}

@media all and (min-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media all and (min-width: 1920px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 15rem;
  }
}

@media all and (max-width: 768px) {
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: calc(10vw - 24px);
    left: auto;
    top: calc(57vh - 24px);
    bottom: auto;
    width: 48px;
    height: 48px;
  }
  .swiper-button-next::after,
  .swiper-container-rtl .swiper-button-prev::after {
    font-size: 14px;
  }
}

.text-white {
  color: #fff !important;
}

.text-green {
  color: #133421 !important;
}
/*# sourceMappingURL=style.css.map */