@charset "UTF-8";
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes rotateX {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes rotateX {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
          animation-name: fadeOutRight;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
  background-color: #f6f6f6;
  min-height: 100vh;
}

p {
  font-weight: 400;
  font-size: calc(11px + 0.35vw);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

article p,
section p {
  font-weight: 400;
  font-size: calc(11px + 0.35vw);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

b {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

b i {
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: calc(25px + 2vw);
}

h2 {
  font-size: calc(25px + 2vw);
  margin-bottom: 4rem;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fff;
  z-index: 10000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav .animate {
  position: relative;
}

nav .animate::after {
  content: '';
  position: absolute;
  width: 0;
  opacity: 0;
  height: 1px;
  top: 50%;
  left: 2vw;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  background: #404040;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav .animate:hover::after {
  opacity: 1;
  width: calc(100% - 4vw);
}

nav .logo {
  padding-left: 5vw;
  height: 48px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav .logo img {
  max-width: 15vw;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: opacity width 0.3s ease-out;
  transition: opacity width 0.3s ease-out;
}

nav .logo .default {
  opacity: 1;
  height: 100%;
  width: auto;
}

nav .logo .white {
  opacity: 0;
  width: 0;
  height: 0;
}

nav .nav-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 5vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .nav-link {
  font-size: calc(10px + 0.3vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 6vh;
  min-height: 80px;
  text-decoration: none;
  font-weight: 400;
  color: #404040 !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

nav.homepage {
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.homepage .logo .default {
  opacity: 0;
  width: 0;
}

nav.homepage .logo .white {
  opacity: 1;
  height: 100%;
  width: auto;
}

nav.homepage .nav-container {
  background: #fff;
  border-radius: 0 0 0 12px;
}

nav.homepage .nav-container .nav-link {
  min-height: 80px;
}

nav.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.25);
}

nav.scrolled .logo {
  height: 36px;
}

nav.scrolled .logo .default {
  opacity: 1;
  height: 100%;
  width: auto;
  -o-object-position: center center;
     object-position: center center;
}

nav.scrolled .logo .white {
  opacity: 0;
  width: 0;
}

nav.scrolled .nav-container {
  border-radius: 0;
  background: transparent;
}

nav.scrolled .nav-container .nav-link {
  min-height: unset !important;
  height: auto !important;
  max-height: unset !important;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

nav.scrolled .nav-container #search {
  padding-top: 0;
  padding-bottom: 0;
}

nav #search {
  cursor: pointer;
  z-index: 3;
}

nav #search img {
  width: calc(10px + 0.7vw);
  height: calc(10px + 0.7vw);
}

nav #search .icon-close {
  display: none;
}

nav #search.active .icon-close {
  display: block;
}

nav #search.active .icon-search {
  display: none;
}

nav .search-bar {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 0;
  height: 100%;
  opacity: 0;
  -webkit-box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

nav .search-bar .search-form {
  width: 100%;
  padding-left: 2rem;
  outline: none;
  border: none;
  background: #042512;
  font-weight: 400;
  color: #fff;
  font-size: calc(11px + 0.35vw);
  font-family: 'Montserrat', sans-serif;
}

nav .search-bar .search-form::-webkit-input-placeholder {
  color: #fff;
}

nav .search-bar .search-form::-moz-placeholder {
  color: #fff;
}

nav .search-bar .search-form:-ms-input-placeholder {
  color: #fff;
}

nav .search-bar .search-form:-moz-placeholder {
  color: #fff;
}

nav .search-bar.show {
  width: 100%;
  opacity: 1;
}

.dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.dropdown .dropdown-container {
  position: absolute;
  top: 100%;
  left: 2vw;
  width: 130%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: -1;
  -webkit-transition: -webkit-box-shadow 0.5s 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s 0.5s ease-in-out;
  transition: box-shadow 0.5s 0.5s ease-in-out;
  transition: box-shadow 0.5s 0.5s ease-in-out, -webkit-box-shadow 0.5s 0.5s ease-in-out;
}

.dropdown .dropdown-container a {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: unset !important;
  max-height: none !important;
  text-decoration: none;
  padding: 1rem;
  display: none;
  color: #fff !important;
  font-size: calc(10px + 0.3vw);
  font-weight: 400;
  background: #184e2f;
  opacity: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-container a:nth-child(0) {
  -webkit-animation: rotateX 300ms 60ms ease-in-out forwards;
          animation: rotateX 300ms 60ms ease-in-out forwards;
}

.dropdown .dropdown-container a:nth-child(1) {
  -webkit-animation: rotateX 300ms 120ms ease-in-out forwards;
          animation: rotateX 300ms 120ms ease-in-out forwards;
}

.dropdown .dropdown-container a:nth-child(2) {
  -webkit-animation: rotateX 300ms 180ms ease-in-out forwards;
          animation: rotateX 300ms 180ms ease-in-out forwards;
}

.dropdown .dropdown-container a:nth-child(3) {
  -webkit-animation: rotateX 300ms 240ms ease-in-out forwards;
          animation: rotateX 300ms 240ms ease-in-out forwards;
}

.dropdown .dropdown-container a:nth-child(4) {
  -webkit-animation: rotateX 300ms 300ms ease-in-out forwards;
          animation: rotateX 300ms 300ms ease-in-out forwards;
}

.dropdown .dropdown-container a:nth-child(5) {
  -webkit-animation: rotateX 300ms 360ms ease-in-out forwards;
          animation: rotateX 300ms 360ms ease-in-out forwards;
}

.dropdown .dropdown-container a:nth-child(6) {
  -webkit-animation: rotateX 300ms 420ms ease-in-out forwards;
          animation: rotateX 300ms 420ms ease-in-out forwards;
}

.dropdown .dropdown-container a:nth-child(7) {
  -webkit-animation: rotateX 300ms 480ms ease-in-out forwards;
          animation: rotateX 300ms 480ms ease-in-out forwards;
}

.dropdown .dropdown-container.active a {
  display: block;
}

.dropdown:hover .dropdown-container a {
  display: block;
  -webkit-box-shadow: 0px 26px 60px -14px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 26px 60px -14px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-container a:hover {
  background: #133421;
  padding-left: 1.2rem;
}

.container {
  position: relative;
  max-width: 1920px;
  margin: auto;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.overview p {
  width: 100%;
  font-size: calc(10px + 0.6vw);
  line-height: 1.5;
  overflow: hidden;
  line-height: 1.3;
  max-height: 6rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-bottom: 2.5rem;
}

section {
  position: relative;
  overflow-x: hidden;
}

.section-container {
  max-width: 1600px;
  padding: 7rem 6vw;
  margin: 0 auto;
  z-index: 3;
}

.grid {
  height: auto;
  margin: 3rem auto 4rem auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
}

.card {
  background: #fff;
  -webkit-box-shadow: -2px 22px 48px -33px #5f806d;
          box-shadow: -2px 22px 48px -33px #5f806d;
  padding: 2.5vw 2vw;
  border-radius: 12px;
  z-index: 2;
}

.card p {
  margin-bottom: 0;
}

.card.simple .row {
  margin-bottom: 2vw;
}

.card.simple .row img {
  width: 15%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5%;
}

.card.simple h3 {
  font-size: calc(12px + 1vw);
  width: 80%;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 172px;
  padding: 20px 2rem;
  border-radius: 100px;
  font-size: calc(11px + 0.35vw);
  font-weight: 500;
  color: #184e2f;
  background: #fff;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 20px rgba(3, 22, 11, 0.1);
          box-shadow: 0px 2px 20px rgba(3, 22, 11, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.outline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: 2px solid #184e2f;
  overflow: hidden;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.outline:after {
  content: '';
  position: absolute;
  left: -2%;
  top: -2%;
  width: 105%;
  height: 109%;
  z-index: -1;
  background: #184e2f;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.btn.outline:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.btn.outline:hover:after {
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
}

.btn .img-icon {
  width: 16px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
  margin-left: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  -webkit-box-shadow: 0px 14px 20px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 14px 20px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover .img-icon {
  -webkit-animation: fadeOutRight 0.5s ease-out;
          animation: fadeOutRight 0.5s ease-out;
  opacity: 0;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: calc(48% - 32px);
  left: auto;
  top: auto;
  bottom: 4%;
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 50px -10px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after {
  font-size: 18px;
  font-weight: 900;
  color: #133421;
}

.swiper-button-next:hover,
.swiper-container-rtl .swiper-button-prev:hover {
  bottom: 4.5%;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: auto;
  left: 6vw;
  top: 8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  letter-spacing: -2px;
}

.swiper-pagination-fraction span,
.swiper-pagination-custom span,
.swiper-container-horizontal > .swiper-pagination-bullets span {
  opacity: 0.8;
  font-size: calc(12px + 1vw);
}

.swiper-pagination-fraction span.swiper-pagination-current,
.swiper-pagination-custom span.swiper-pagination-current,
.swiper-container-horizontal > .swiper-pagination-bullets span.swiper-pagination-current {
  font-size: calc(18px + 1.3vw) !important;
  font-weight: 500;
  opacity: 1;
}

.arrow-org:after {
  content: '';
  position: absolute;
  right: -1rem;
  top: 50%;
  height: 2rem;
  width: 2rem;
  -webkit-transform: translatey(-1rem);
          transform: translatey(-1rem);
  background-image: url("static/images/button-next-green.svg");
  background-size: 100%;
  background-repeat: none;
  z-index: 3;
}

@media all and (min-width: 768px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media all and (min-width: 1920px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 15rem;
  }
}

@media all and (max-width: 768px) {
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: calc(10vw - 24px);
    left: auto;
    top: calc(57vh - 24px);
    bottom: auto;
    width: 48px;
    height: 48px;
  }
  .swiper-button-next::after,
  .swiper-container-rtl .swiper-button-prev::after {
    font-size: 14px;
  }
}

.text-white {
  color: #fff !important;
}

.text-green {
  color: #133421 !important;
}

.round {
  border-radius: 12px !important;
}

.content p,
.article p {
  margin-bottom: 1rem;
  text-align: justify;
}

.text-center {
  text-align: center !important;
}

blockquote {
  position: relative;
  padding: 1rem 2rem;
  background: rgba(161, 230, 189, 0.39);
  -webkit-box-shadow: 0px 16px 60px -40px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 16px 60px -40px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

blockquote::after {
  content: '“';
  position: absolute;
  left: -10px;
  top: -16px;
  font-family: "Playfair Display", serif;
  font-size: 56px;
}

ol {
  margin: 2rem 0;
}

ol li {
  padding-left: 1rem;
  font-size: calc(11px + 0.35vw);
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
}
/*# sourceMappingURL=style.css.map */