// color guide
$white: #fff;
$black: #404040;
$green: #184e2f;
$dark-green: #133421;

// font size guide

$d--small: calc(10px + 0.3vw);
$d--regular: calc(11px + 0.35vw);
$d--medium: calc(10px + 0.6vw);
$d--big: calc(12px + 1vw);
$d--bigger: calc(18px + 1.3vw);
$d--biggest: calc(25px + 2vw);

$m--msmall: 12px;
$m--regular: 14px;
$m--medium: 16px;
$m--big: 20px;
$m--bigger: 42px;

// font family guide

$playfair: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

$lineargradient: linear-gradient(180deg, #0c4524 0%, #3b7151 100%);

@media all and(min-width:1920px) {
  $d--small: 16px;
  $d--regular: 18px;
  $d--medium: 28px;
  $d--big: 40px;
  $d--bigger: 52px;
  $d--biggest: 72px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeOutRight {
  animation-name: fadeOutRight;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $montserrat;
  overflow-x: hidden;
  margin: 0;
  font-weight: $regular;
  line-height: 1.2;
  background-color: #f6f6f6;
  min-height: 100vh;
}
p {
  font-weight: $regular;
  font-size: $d--regular;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

article,
section {
  p {
    font-weight: $regular;
    font-size: $d--regular;
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }
  &.blog {
    font-size: 16px;
  }
}

b {
  font-family: $montserrat;
  font-weight: $bold;
  i {
    font-weight: $bold;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $playfair;
  font-weight: $bold;
  line-height: 1.2;
}
h1 {
  font-size: $d--biggest;
}

h2 {
  font-size: $d--biggest;
  margin-bottom: 4rem;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: $white;
  z-index: 10000;
  transition: all 0.3s ease-out;

  .animate {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 0;
      opacity: 0;
      height: 1px;
      top: 50%;
      left: 1.7vw;
      transform: translateY(10px);
      background: #404040;
      transition: all 0.3s ease-out;
    }
    &:hover {
      &::after {
        opacity: 1;
        width: calc(100% - 3.4vw);
      }
    }
  }

  .logo {
    padding-left: 5vw;
    height: 48px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    img {
      max-width: 12vw;
      object-fit: contain;
      transition: opacity width 0.3s ease-out;
    }
    .default {
      opacity: 1;
      height: 100%;
      width: auto;
    }
    .white {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  .nav-container {
    width: max-content;
    padding: 0 5vw;
    padding-left: 2vw;
    justify-content: flex-end;
    align-items: center;
    .nav-link {
      font-size: $d--small;
      display: flex;
      padding: 0 1.7vw;
      align-items: center;
      min-height: 6vh;
      min-height: 80px;
      text-decoration: none;
      font-weight: 500;
      color: $black !important;
      transition: all 0.3s ease-out;
    }
  }

  &.homepage {
    background: transparent;
    transition: all 0.3s ease-in-out;
    #nav-icon1 span,
    #nav-icon3 span,
    #nav-icon4 span {
      background: #fff;
    }
    #nav-icon3.open span {
      background: #205335 !important;
    }
    .logo .default {
      opacity: 0;
      width: 0;
    }
    .logo .white {
      opacity: 1;
      height: 100%;
      width: auto;
    }
    .nav-container {
      background: $white;
      border-radius: 0 0 0 12px;
      .nav-link {
        min-height: 80px;
      }
    }
  }
  &.scrolled {
    background: $white;
    box-shadow: -1px -1px 14px rgba(0, 0, 0, 0.25);
    #nav-icon1 span,
    #nav-icon3 span,
    #nav-icon4 span {
      background: #205335 !important;
    }
    .logo {
      height: 36px;
    }
    .logo .default {
      opacity: 1;
      height: 100%;
      width: auto;
      object-position: center center;
    }
    .logo .white {
      opacity: 0;
      width: 0;
    }
    .nav-container {
      border-radius: 0;
      background: transparent;
      .nav-link {
        min-height: unset !important;
        height: auto !important;
        max-height: unset !important;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
      #search {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  #search {
    cursor: pointer;
    z-index: 3;
    img {
      width: calc(10px + 0.7vw);
      height: calc(10px + 0.7vw);
    }
    .icon-close {
      display: none;
    }
    &.active {
      .icon-close {
        display: block;
      }
      .icon-search {
        display: none;
      }
    }
  }
  .search-bar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 0;
    height: 100%;
    opacity: 0;
    box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    z-index: 0;
    .search-form {
      width: 100%;
      padding-left: 2rem;
      outline: none;
      border: none;
      background: #042512;
      font-weight: $regular;
      color: #fff;
      font-size: $d--regular;
      font-family: 'Montserrat', sans-serif;
      &::-webkit-input-placeholder {
        color: $white;
      }
      &::-moz-placeholder {
        color: $white;
      }
      &:-ms-input-placeholder {
        color: $white;
      }
      &:-moz-placeholder {
        color: $white;
      }
    }
    &.show {
      width: 100%;
      opacity: 1;
    }
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .dropdown-container {
    position: absolute;
    top: 100%;
    left: 1.7vw;
    width: 130%;
    perspective: 1000px;
    z-index: -1;
    transition: box-shadow 0.5s 0.5s ease-in-out;
    a {
      height: max-content;
      min-height: unset !important;
      max-height: none !important;
      text-decoration: none;
      padding: 1rem;
      display: none;
      color: $white !important;
      font-size: $d--small;
      font-weight: $regular;
      background: $green;
      opacity: 0;
      transform-origin: top center;
      transition: all 0.3s ease-in-out;
      &:nth-child(0) {
        animation: rotateX 300ms (1 * 60ms) ease-in-out forwards;
      }
      &:nth-child(1) {
        animation: rotateX 300ms (2 * 60ms) ease-in-out forwards;
      }
      &:nth-child(2) {
        animation: rotateX 300ms (3 * 60ms) ease-in-out forwards;
      }
      &:nth-child(3) {
        animation: rotateX 300ms (4 * 60ms) ease-in-out forwards;
      }
      &:nth-child(4) {
        animation: rotateX 300ms (5 * 60ms) ease-in-out forwards;
      }
      &:nth-child(5) {
        animation: rotateX 300ms (6 * 60ms) ease-in-out forwards;
      }
      &:nth-child(6) {
        animation: rotateX 300ms (7 * 60ms) ease-in-out forwards;
      }
      &:nth-child(7) {
        animation: rotateX 300ms (8 * 60ms) ease-in-out forwards;
      }
    }
    &.active {
      a {
        display: block;
      }
    }
  }
  &:hover {
    .dropdown-container {
      a {
        display: block;
        box-shadow: 0px 26px 60px -14px rgba(0, 0, 0, 0.2);
        &:hover {
          background: $dark-green;
          padding-left: 1.2rem;
        }
      }
    }
  }
}
.container {
  position: relative;
  max-width: 1920px;
  margin: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.overview p {
  width: 100%;
  font-size: $d--medium;
  line-height: 1.5;
  overflow: hidden;
  line-height: 1.3;
  max-height: 6rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-bottom: 2.5rem;
}
section {
  position: relative;
  overflow-x: hidden;
}
.section-container {
  max-width: 1600px;
  padding: 7rem 6vw;
  margin: 0 auto;
  z-index: 3;
}

.grid {
  height: auto;
  margin: 3rem auto 4rem auto;
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
}

.card {
  background: $white;
  box-shadow: -2px 22px 48px -33px #5f806d;
  padding: 1.8rem;
  border-radius: 12px;
  z-index: 2;
  p {
    margin-bottom: 0;
  }

  &.simple {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    .row {
      margin-bottom: 2vw;
      img {
        position: absolute;
        width: 25%;
        height: auto;
        object-fit: contain;
        opacity: 0.2;
        margin-right: 5%;
        z-index: -1;
        right: -6%;
        top: -1%;
      }
    }
    h3 {
      font-size: $d--big;
      width: 80%;
    }
  }
}

.btn {
  width: max-content;
  min-width: 172px;
  padding: 20px 2rem;
  border-radius: 100px;
  font-size: $d--regular;
  font-weight: $medium;
  color: $green;
  background: $white;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  box-shadow: 0px 2px 20px rgba(3, 22, 11, 0.1);
  transition: all 0.3s ease-in-out;
  &.outline {
    display: flex;
    position: relative;
    border: 2px solid $green;
    overflow: hidden;
    background: transparent;
    box-shadow: none;
    &:after {
      content: '';
      position: absolute;
      left: -2%;
      top: -2%;
      width: 105%;
      height: 109%;
      z-index: -1;
      background: #184e2f;
      transform: translatey(100%);
      transition: 0.25s ease-out;
    }
    &:hover {
      box-shadow: none;
      color: $white;
      &:after {
        transform: translatey(0%);
      }
    }
  }
  .img-icon {
    width: 16px;
    height: 14px;
    object-fit: contain;
    object-position: center center;
    margin-left: 4px;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    .img-icon {
      animation: fadeOutRight 0.5s ease-out;
      opacity: 0;
    }
    box-shadow: 0px 14px 20px 6px rgba(0, 0, 0, 0.1);
  }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: calc(48% - 32px);
  left: auto;
  top: auto;
  bottom: 4%;
  width: 64px;
  height: 64px;
  background: $white;
  border-radius: 100%;
  box-shadow: 1px 11px 50px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-out;
  &::after {
    font-size: 18px;
    font-weight: 900;
    color: $dark-green;
  }
  &:hover {
    bottom: 4.5%;
  }
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: auto;
  left: 6vw;
  top: 8rem;
  width: max-content;
  color: $white;
  letter-spacing: -2px;
  span {
    opacity: 0.8;
    font-size: $d--big;
  }
  span.swiper-pagination-current {
    font-size: $d--bigger !important;
    font-weight: $medium;
    opacity: 1;
  }
}

.arrow-org:after {
  content: '';
  position: absolute;
  right: -1rem;
  top: 50%;
  height: 2rem;
  width: 2rem;
  transform: translatey(-1rem);
  background-image: url('static/images/button-next-green.svg');
  background-size: 100%;
  background-repeat: none;
  z-index: 3;
}

.chart-org {
  overflow-x: scroll;
  .chart-container {
    width: 1200px;
    padding: 4rem 0;
  }
  position: relative;
  padding-top: 3rem;
  ul,
  .head,
  .member {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    padding-left: 0;
    li {
      display: flex;
      list-style: none;
      justify-content: center;
      &.bidang {
        justify-content: flex-start;
      }
    }
    .two li {
      min-width: 22%;
      max-width: 45%;
    }
  }
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    border-radius: 5rem;
    padding: 0.5rem;
    font-size: 11px;
    width: max-content;
    background-color: #e5e5e5;
    font-weight: $bold;
    margin-bottom: 0;
    z-index: 2;
    &.small {
      position: relative;
      padding: 0.5rem 1rem;
      font-weight: $regular;
      color: #fff;
      background: #3b7151;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -3rem;
        width: 2px;
        height: 3rem;
        border-left: 1px solid #a7a7a7;
        z-index: 0;
      }
      &.middle.top {
        z-index: 0;
        margin-top: 4rem;
        &::after {
          top: -3rem;
        }
      }
    }
    &.cap {
      padding: 1.5rem 2.5rem;
    }
    span {
      position: absolute;
      width: max-content;
      bottom: -1.2rem;
      left: 50%;
      font-size: 12px;
      font-weight: 300;
      color: $white;
      background: #3b7151;
      padding: 0.2rem 0.5rem;
      border-radius: 3rem;
      transform: translateX(-50%);
    }
    &.green {
      background: linear-gradient(180deg, #0c4524 0%, #3b7151 100%);
      color: $white;
      span {
        background: $white;
        color: #000000;
      }
    }
  }
  .head {
    position: relative;
    padding-bottom: 2.5rem;
    .label {
      padding: 1rem 2.5rem 1rem 2.5rem;
      font-family: $playfair;
      font-size: 28px;
      background: linear-gradient(180deg, #0c4524 0%, #3b7151 100%);
      box-shadow: 0px 9px 29px -16px #000000;
      color: $white;
      span {
        font-family: $montserrat;
        bottom: auto;
        top: -1.5rem;
        color: #404040;
        background: #fff;
        font-size: $d--regular;
        font-weight: $bold;
      }
    }
    .label {
      padding: 1rem 2.5rem 1rem 2.5rem;
      font-family: $playfair;
      font-size: 28px;
      background: linear-gradient(180deg, #0c4524 0%, #3b7151 100%);
      box-shadow: 0px 16px 60px -40px #000000;
      color: $white;

      span {
        font-family: $montserrat;
        bottom: auto;
        top: -1.5rem;
        color: #404040;
        background: #fff;
        font-size: $d--regular;
        font-weight: $bold;
      }
    }
  }
  .member {
    ul.members {
      padding-top: 3rem;
      li {
        padding: 2.5rem 4px;
      }
    }
  }
  .member .label.green {
    padding: 1rem 1.5rem;
    font-size: 14px !important;
  }
  .member ul.members li.bidang {
    padding: 2.5rem 2rem;
    padding-bottom: 1rem;
  }
  .member ul.members li.bidang .label {
    padding: 1rem 1.5rem;
    font-size: 12px !important;
    &.small {
      padding: 0.5rem;
    }
  }
  .bidang {
    flex-direction: column;
    align-items: center;
  }
  .member .bidang.members li {
    padding-bottom: 1rem;
  }
  .middle {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      width: 2px;
      height: 2.5rem;
      border-left: 1px solid #a7a7a7;
      z-index: 0;
    }
    &.top::after {
      top: 0;
    }
    &.bottom::after {
      bottom: 0rem;
    }
  }
  .left {
    border-left: 1px solid #a7a7a7;
  }
  .right {
    border-right: 1px solid #a7a7a7;
  }
  .ceiling {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-top: 1px solid #a7a7a7;
      z-index: 0;
    }
    &:first-child {
      &::before {
        left: 50%;
        width: 50%;
      }
    }
    &:last-child {
      &::before {
        left: 0;
        width: 50%;
      }
    }
    // &:last-child {
    //   &::before {
    //     width: 0;
    //   }
    // }
    // &:first-child,
    // &:nth-child(5n) {
    //   &::before {
    //     left: 50%;
    //     width: 50%;
    //   }
    // }
    // &:last-child,
    // &:nth-child(4n) {
    //   &::before {
    //     left: 0;
    //     width: 50%;
    //   }
    // }
    // &:last-child:nth-child(5) {
    //   &::before {
    //     width: 0;
    //   }
    // }
  }
  .grid {
    margin: 0;
  }
  &.wilayah {
    .member ul.members li {
      padding: 2.5rem 0.7rem;
    }
    .label.cap {
      font-size: 13px !important;
      padding: 0.7rem 1rem;
    }
  }
}

.artikel {
  article {
    div {
      a {
        margin-left: 0 !important;
        img {
          max-width: 100% !important;
          height: auto;
          min-width: 70%;
          max-height: 456px;
          object-fit: contain;
          object-position: left;
          margin: auto;
          margin-bottom: 2rem;
        }
      }
    }
  }
  article {
    a {
      display: flex;
    }
    p {
      text-align: justify;
      font-size: 16px;
    }
    div {
      font-size: 16px;
      margin-bottom: 1.5rem;
      line-height: 1.5;
    }
  }
}

.ham-container {
  width: 4rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 0;
  z-index: 100;
}

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 30px;
  height: 22px;
  position: relative;
  margin: auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: poRoboto;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: #404040;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon1.open span,
#nav-icon3.open span,
#nav-icon4.open span {
  background: #205335 !important;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media all and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .ham-container {
    display: none;
  }
  p.date.article-details span {
    font-size: 20px !important;
  }
}
@media all and (min-width: 1360px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 9rem;
  }
  .chart-org .chart-container {
    width: 1300px;
  }
  .chart-org .member .label {
    font-size: 13px !important;
  }
}
@media all and (min-width: 1920px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 15rem;
  }
  .chart-org .chart-container {
    width: 1700px;
  }
  .chart-org .member .label {
    font-size: 16px !important;
    padding: 0.5rem 1rem;
  }
  .chart-org .member ul.members li {
    padding: 2.5rem 0.5rem;
  }
}

@media all and (max-width: 768px) {
  nav .logo img {
    max-width: 10rem;
  }
  nav .logo {
    padding-left: 0.8rem;
  }
  nav.scrolled .logo {
    height: 28px;
  }
  nav .logo .default {
    padding: 10% 0;
  }
  nav.scrolled .logo .default {
    padding: 0;
  }
  .hero .img-bg {
    object-position: bottom left;
  }
  nav .animate::after {
    top: 56%;
  }
  nav .nav-container,
  nav.scrolled .nav-container {
    position: fixed;
    right: -64px;
    top: 0;
    padding: 1rem;
    flex-direction: column;
    width: 0 !important;
    height: 100% !important;
    max-width: unset;
    background: #fff;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    .nav-link,
    .dropdown {
      font-size: 16px;
      width: 100%;
      text-align: center;
      justify-content: center;
    }
    .dropdown-container {
      z-index: 10;
      top: 4rem;
      left: 8px;
    }
    .dropdown:hover .dropdown-container a {
      width: calc(100% - 7rem);
      font-size: 14px;
    }
    #search img {
      width: 20px;
      height: 20px;
    }
  }
  nav.scrolled .nav-container .nav-link {
    height: 80px !important;
  }
  nav .nav-container.open,
  nav.scrolled .nav-container.open {
    right: 0;
    width: 100% !important;
    opacity: 1;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: calc(10vw - 24px);
    left: auto;
    bottom: calc(45vh - 22px);
    width: 48px;
    height: 48px;
  }
  blockquote {
    padding: 1rem 8px !important;
  }
  ol {
    padding-left: 1rem;
  }
  .swiper-button-next::after,
  .swiper-container-rtl .swiper-button-prev::after {
    font-size: 14px;
  }
  .section-container {
    padding: 4rem 1rem !important;
  }

  .chart-org .chart-container::after {
    content: 'Silahkan swipe layar ke kiri atau kanan untuk melihat chart';
    position: absolute;
    left: 1rem;
    top: 0;
    font-size: 12px;
    font-style: italic;
  }
  .artikel article div a img,
  .artikel article a img,
  .artikel article img {
    width: 100% !important;
    max-height: unset;
    object-fit: contain;
  }
}

.text-white {
  color: $white !important;
}

.text-green {
  color: $dark-green !important;
}

.round {
  border-radius: 12px !important;
}
.content p,
.article p {
  margin-bottom: 1rem;
  text-align: justify;
}
.text-center {
  text-align: center !important;
}
blockquote {
  position: relative;
  padding: 1rem 2rem !important;
  background: rgba(161, 230, 189, 0.39);
  box-shadow: 0px 16px 60px -40px rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  width: max-content;
  max-width: 100%;
  &::after {
    content: '“';
    position: absolute;
    left: -10px;
    top: -16px;
    font-family: $playfair;
    font-size: 56px;
  }
}

@media all and(width: 1024px) {
  nav .nav-container .nav-link {
    padding: 0 1vw;
  }
  nav .animate::after {
    left: 1vw;
  }
  .dropdown .dropdown-container {
    left: 1vw;
  }
}

ol {
  margin: 2rem 0;
  li {
    padding-left: 1rem;
    font-size: calc(11px + 0.35vw);
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
  }
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-t-2 {
  padding-top: 2rem !important;
}
